# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# NuGet packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Build results of an ideographic specific location
[Pp]ublish/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# JetBrains Rider
*.sln.iml

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Mac desktop services
.DS_Store

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
nunit-*.xml

# Code coverage results
[Cc]overage/
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
